body {
    background:
        linear-gradient(rgb(255, 0, 251), transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

h2 {
    color: white;
}

.rectangle_black {
    width: 50%;
    height: 20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.rectangle_white {
    width: 50%;
    height: 75%;
    background-color: white;
}

.rectangle_grey {
    width: 50%;
    height: 5%;
    background-color: rgba(213, 208, 208, 0.991);
}

.profile_pic_img {
    margin-left: 5%;
    margin-top: 5%;
    padding: 1% 1%;
    border-width: 1%;
    border-style: double;
    background-color: white;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.profile_description {
    font-family: Verdana, sans-serif;
    color: black;
    width: 90%;
    text-align: center;
    margin: 0 auto; /* Center horizontally */
    margin-top: 5%; /* Adjust as needed */
}

.rectangle_grey_about {
    width: 30%;
    height: 5%;
    margin-left: 5%;
    background-color: rgba(213, 208, 208, 0.991);
    border-radius: 3%;
}

ul {
    list-style-type: none;
    margin-left: 1%; /* Use margin instead of relative positioning */
}

#about {
    margin-top: 3%;
    margin-left: 10%;
}

.card_description {
    margin-left: 10%;
}

.project-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .rectangle_black,
    .rectangle_white,
    .rectangle_grey,
    .profile_description,
    .rectangle_grey_about,
    #about,
    .card_description,
    .project-container_v1,
    .project-content {
        width: 90%; /* Adjust as needed for smaller screens */
    }
}